.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* header styles */
.header{
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    max-width: 1158px;
    align-content: center;
    flex-direction: row;
}.div1{
    display: flex;
}
.school{
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin: auto;
}
.div1-img{
    width: 62px;
    height: 62px;
}
/* .div1{
    align-items: center;
} */
.div2{
    align-items: center;
    justify-content: space-around;
    margin: 17px auto;
    gap: 32px;
}
.btn-header{
    font-size: 1.25rem;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-right: 32px;
}
.btn-header1{
    color: orange;
    font-weight: bold;
}
.btn-header2{
    color: skyblue;
    font-weight: 500;
}
.btn-header3{
    color: #05D4DF;
    font-weight: 500;
}
.btn-header4{
    color: #5D58EF;
    font-weight: 500;
}

.btn-header5{
    background-color: orange;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    padding: 10px 60.5px;
    border-radius: 12px;
    margin: auto;
    cursor: pointer;
}

/* banner styles */
.banner{
    display: flex;
    gap: 50px;
    max-width: 1158px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.ban-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0;
}
.ban-ti1{
    color: orange;
}
.ban-ti2{
    color: skyblue;
}
.ban-des{
    font-size: 1.25rem;

}
.ban-btn{
    color: white;
    font-size: 1.25rem;
    background-color: black;
    padding: 10px 47px;
    border-radius: 12px;
}

/* standard styles */
.stand-title{
    text-align: center;
    font-size: 2.87rem;
    font-weight: bold;
    margin: 70px auto;
}
.standard{
    display: flex;
    max-width: 1158px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    gap: 28px;
}
.stand{
    box-shadow: inset 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    padding: 40px 55px;
    border-radius: 19px;
}
.stand1{
    border: 2px solid rgba(222, 245, 255, 1);
    background: linear-gradient(rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
}
.stand2{
    border: 2px solid #FFF4DC;
    background: linear-gradient(rgba(255, 244, 220, 1), rgba(255, 255, 255, 0));
}
.stand3{
    border: 2px solid #F2E8FF;
    background: linear-gradient(rgba(238, 225, 255, 1), rgba(255, 255, 255, 0));
}
.stand-ti{
    font-size: 1.53rem;
    font-weight: bold;
    color: #202020;
}
.stand-pera{
    font-size: 15.09px;
    font-weight: 500;
    color: #808080;
    line-height: 200%;
}
.stand-bttn{
    font-size: 15.09px;
    font-weight: bold;
    background-color: white;
    border: none;
    margin-top: 38px;
}
.stand-btn1{
    color: #64C8FF;
}
.stand-btn2{
    color: #F0AA00;
}
.stand-btn3{
    color: #8700FF;
}

.less{
    justify-content: center;
    margin: 0px;
    max-width: 60px;
    max-height: 60px;
}
.less-img {
    width: 100%;
}
.gater{
    justify-content: center;
    margin: 0px;
    max-width: 60px;
    max-height: 60px;  
}
.gater-img{
    width: 100%;
}
.less-gater{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;
    margin-top: 80px;
}

/* Mobile device styles */

@media screen and (max-width:576px) {
    .header{
        border-bottom: 0.5px solid orange; 
        
        padding: 12px 16px;
        margin: 0px;
        max-width: 100%;
    }
    .school, .div2, .div3 
    {
        display: none;
    }
    .menu{
        width: 35px;
        height: 3px;
        border-radius: 25px;
        background-color: black;
        margin: 6px 0;
    }
    .div4{
        align-items: center;
        padding:12px 0 ;
    }
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        padding: 20px;
        margin: 40px auto;
    }
    
    .ban-img1{
        width: 100%
    }
    .standard{
        flex-direction: column;
        margin: 20px auto;
        padding: 20px;
    }
    .less-gater{
        display: none;
    }
}
