.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* header styles */
.header{
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    max-width: 1158px;
    align-content: center;
    flex-direction: row;
}.div1{
    display: flex;
}
.school{
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin: auto;
}
.div1-img{
    width: 62px;
    height: 62px;
    
}
/* .div1{
    align-items: center;
} */
.div2{
    align-items: center;
    justify-content: space-around;
    margin: 17px auto;
    gap: 32px;
}
.btn-header{
    font-size: 1.25rem;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-right: 32px;
}
.btn-header1{
    color: orange;
    font-weight: bold;
}
.btn-header2{
    color: skyblue;
    font-weight: 500;
}
.btn-header3{
    color: #05D4DF;
    font-weight: 500;
}
.btn-header4{
    color: #5D58EF;
    font-weight: 500;
}

.btn-header5{
    background-color: orange;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    padding: 10px 60.5px;
    border-radius: 12px;
    margin: auto;
    cursor: pointer;
}

/* banner styles */
.banner{
    display: flex;
    gap: 50px;
    max-width: 1158px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.ban-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0;
}
.ban-ti1{
    color: orange;
}
.ban-ti2{
    color: skyblue;
}
.ban-des{
    font-size: 1.25rem;

}
.ban-btn{
    color: white;
    font-size: 1.25rem;
    background-color: black;
    padding: 10px 47px;
    border-radius: 12px;
}

/* standard styles */
.stand-title{
    text-align: center;
    font-size: 2.87rem;
    font-weight: bold;
    margin: 70px auto;
}
.standard{
    display: flex;
    max-width: 1158px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    gap: 28px;
}
.stand{
    box-shadow: inset 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
    padding: 40px 55px;
    border-radius: 19px;
}
.stand1{
    border: 2px solid rgba(222, 245, 255, 1);
    background: linear-gradient(rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
}
.stand2{
    border: 2px solid #FFF4DC;
    background: linear-gradient(rgba(255, 244, 220, 1), rgba(255, 255, 255, 0));
}
.stand3{
    border: 2px solid #F2E8FF;
    background: linear-gradient(rgba(238, 225, 255, 1), rgba(255, 255, 255, 0));
}
.stand-ti{
    font-size: 1.53rem;
    font-weight: bold;
    color: #202020;
}
.stand-pera{
    font-size: 15.09px;
    font-weight: 500;
    color: #808080;
    line-height: 200%;
}
.stand-bttn{
    font-size: 15.09px;
    font-weight: bold;
    background-color: white;
    border: none;
    margin-top: 38px;
}
.stand-btn1{
    color: #64C8FF;
}
.stand-btn2{
    color: #F0AA00;
}
.stand-btn3{
    color: #8700FF;
}

.less{
    justify-content: center;
    margin: 0px;
    max-width: 60px;
    max-height: 60px;
}
.less-img {
    width: 100%;
}
.gater{
    justify-content: center;
    margin: 0px;
    max-width: 60px;
    max-height: 60px;  
}
.gater-img{
    width: 100%;
}
.less-gater{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;
    margin-top: 80px;
}

#story-div-title{
    font-size: 3.5rem;
    font-weight: bold;
}
#story-divti{
    display: flex;
    justify-content: center;
}


/* story styles */

.story{
    display: flex;
    max-width: 1158px;
    margin: 0 auto;
    gap: 18px;
}

 

.body1{
    background-image: url('../images/bg.png');
    background: linear-gradient(rgba(255, 255, 255, 1),  rgba(254, 163, 1, 0.3));
    background-size: cover;
    background-position: center;
    width: 100%;
}
.story-div-1{
    max-width: 530px;
    max-height: 640px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: white;
}
.div6-img{
  width: 100%;
  height: 337px;
  border-radius: 16px 16px 0 0;
}

.story-div2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.div1-btn{
    color: white;
    background-color: #3CD8E8;
    border: none;
    padding: 15px 19px;
    border-radius: 49px;
    font-size: 15.34px;
    font-weight: 500;
    width: 180px;
    margin-left: 38px;
    margin-top: -25px;
    cursor: pointer;
}
.div1-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 33px 38px;
}
.div1-des{
    color: rgba(102, 102, 102, 1);
    font-size: 15.34px;
    font-weight: 500;
    margin: 0px 68px 33px 38px;
    line-height: 200%;
}
.out{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.out-img{
    border-radius: 16px 16px 0 0;
}
.btn-cmn{
    background-color: #95B226;
    color: white;
    border: none;
    padding: 0.93rem 1.18rem;
    border-radius: 3.06rem;
    font-size: 0.99rem;
    font-weight: 500;
    width: 11.25rem;
    margin-left: 2.37rem;
    margin-top: -1.56rem; 
    cursor: pointer; 
}
.out-ti{
    font-size: 0.99rem;
    font-weight: bold;
    margin: 20px 37px;
    line-height: 150%;
}

#div5-btn{
    display: flex;
    justify-content: center;
    padding: 60px;
    
}
.div5-btn6{
    background-color: black;
    color: white;
    padding: 10px 61px;
    border-radius: 12px;
    border: none;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
}

/* footer styles */
.footer{
    display: flex;
    gap: 80px;
    padding: 130px 180px;
    background-color: #01ACFD;
    max-width: 100%;
    max-height: 519px;
    color: white;
}
.foot-title{
    font-size: 2.64rem;
    font-weight: bold;
}
.foot-des{
    font-size: 1.25rem;
}

.footer-title{
    font-size: 1.56rem;
    font-weight: bold;
    width: 171px;
}
.foot-pera1{
    font-size: 1.5rem;
    font-weight: bold;
    width: 156px;
}
.foot-pera{
    font-size: 1.25rem;
    font-weight: 500;
}
.foot-img1{
    width: 82px;
    height: 82px;
}
.foot-ex{
    display: flex;
    align-items: center;
}
.foot-images{
    display: flex;
    width: 192px;
    gap: 10px;

}
.foot-img{
    width: 40px;
    border-radius: 4px;
    height: 40px;
}

/* Mobile device styles */

@media screen and (max-width:576px) {
    
    .header{
        border-bottom: 0.5px solid orange; 
        
        padding: 12px 16px;
        margin: 0px;
        max-width: 100%;
    }
    .school, .div2, .div3 
    {
        display: none;
    }
    .menu{
        width: 35px;
        height: 3px;
        border-radius: 25px;
        background-color: black;
        margin: 6px 0;
        cursor: pointer;
    }
    .div4{
        align-items: center;
        padding:12px 0 ;
    }
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        padding: 20px;
        margin: 40px auto;
    }
    
    .ban-img1{
        width: 100%;
        
    }
    .standard{
        flex-direction: column;
        margin: 20px auto;
        padding: 20px;
    }
    .less-gater{
        display: none;
    }
    .story-div-1{
        display: none;
        visibility: hidden;
    }
    
    
    .story{
        margin: 0 auto;
       
        
    }
    .out{
        max-width: 10rem;
        background-color: white;
    }
    .body1{
        margin: 0 auto;
        padding-bottom: 60px;
    }
    #div5-btn{
        margin: 0 auto;
        
    }
    .footer{
        display: flex;
        flex-direction: column;
        max-height: 100%;
        padding: 40px 20px;
        margin: 0px auto;
        background-size: cover;

    }
    .btn-cmn{
        font-size: 0.67rem;
        padding: 0.375rem 0.68rem;
        width: 8.125rem;
        margin-top: -0.714rem;
        margin-left: 1.42rem;
    }
    .story-div2{
        gap: 11px;
        margin: 0 auto;
        max-width: 100%;
    }
}
