.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* header styles */
.header{
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    max-width: 1160px;
    align-content: center;
    flex-direction: row;
}.div1{
    display: flex;
}
.school{
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin: auto;
}
.div1-img{
    width: 62px;
    height: 62px;
}
/* .div1{
    align-items: center;
} */
.div2{
    align-items: center;
    justify-content: space-around;
    margin: 17px auto;
    gap: 32px;
}
.btn-header{
    font-size: 1.25rem;
    border: none;
    background-color: white;
    cursor: pointer;
    margin-right: 32px;
}
.btn-header1{
    color: orange;
    font-weight: bold;
}
.btn-header2{
    color: skyblue;
    font-weight: 500;
}
.btn-header3{
    color: #05D4DF;
    font-weight: 500;
}
.btn-header4{
    color: #5D58EF;
    font-weight: 500;
}

.btn-header5{
    background-color: orange;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    padding: 10px 60.5px;
    border-radius: 12px;
    margin: auto;
    cursor: pointer;
}

/* banner styles */
.banner{
    display: flex;
    gap: 50px;
    max-width: 1158px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.ban-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 0;
}
.ban-ti1{
    color: orange;
}
.ban-ti2{
    color: skyblue;
}
.ban-des{
    font-size: 1.25rem;

}
.ban-btn{
    color: white;
    font-size: 1.25rem;
    background-color: black;
    padding: 10px 47px;
    border-radius: 12px;
}

@media screen and (max-width:576px) {
    .header{
        border-bottom: 0.5px solid orange; 
        
        padding: 12px 16px;
        margin: 0px;
        max-width: 100%;
    }
    .school, .div2, .div3 
    {
        display: none;
    }
    .menu{
        width: 35px;
        height: 3px;
        border-radius: 25px;
        background-color: black;
        margin: 6px 0;
    }
    .div4{
        align-items: center;
        padding:12px 0 ;
    }
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        padding: 20px;
        margin: 40px auto;
    }
    
    .ban-img1{
        width: 100%
    }
}
